@model IEnumerable<ClientSolutions.Models.ProblemSolutionView>

@{
    ViewBag.Title = "Solutions";
}

<h2>Solutions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProblemSolutionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemSolutionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ProblemSolutionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProblemSolutionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProblemSolutionId })
        </td>
    </tr>
}

</table>
